<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xla.school">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name="${applicationName}"
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:requestLegacyExternalStorage="true" 
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">

         <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2797193953054512~4372185396"/>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />

            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>

        <activity
    android:name="com.yalantis.ucrop.UCropActivity"
    android:screenOrientation="portrait"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/baseline_school_24" />

        <receiver android:name=".AppWidgetTimetable"
            android:label="@string/timetable"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_timetable_info" />
        </receiver>

        <receiver android:name=".AppWidgetTasks"
            android:label="@string/upcoming_tasks"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_tasks_info" />
        </receiver>


        <service
            android:name=".ServiceWidgetTimetable"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".ServiceWidgetTasks"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".LoadTaskData"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <activity android:name=".LessonDialogView"
            android:documentLaunchMode="always"
            android:launchMode="singleTask"
            android:theme="@style/MyTranslucent"
            />

    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
    </application>
</manifest>